/**
 * The button-focus mixin have support for the WICG focus-visible polyfill.
 *
 * We need to duplicate style selectors to get proper support.
 * The basic idea is the same for both implementations:
 *
 *
 *
 * https://github.com/WICG/focus-visible
 */
[data-dialog-backdrop] {
  --backdrop-background-color: rgba(0, 0, 0, 0.5);
  --backdrop-z-index: 50;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--backdrop-z-index);
  background-color: var(--backdrop-background-color);
}
[data-dialog-backdrop][hidden] {
  display: none;
}

[data-dialog] {
  --dialog-border-radius: 4px;
  --dialog-background-color: #fff;
  --dialog-border-top: 5px solid #0EA5E9;
  --dialog-padding: 16px;
  --dialog-font-family: Arial;
  --dialog-font-size: 16px;
  --header-border-bottom: 1px solid #eae9e9;
  --header-font-family: Arial;
  --header-font-size: 24px;
  --header-color: #222;
  --footer-border-top: 1px solid #eae9e9;
  --footer-gap: 14px;
  --cancel-button-color: #0EA5E9;
  --cancel-button-border: 2px solid #0EA5E9;
  --cancel-button-background-color: #fff;
  --cancel-button-hover-background-color: #F0F9FF;
  --cancel-button-active-background-color: #ebf7ff;
  --ok-button-color: #fff;
  --ok-button-border: 2px solid #0EA5E9;
  --ok-button-background-color: #0EA5E9;
  --ok-button-hover-border: 2px solid #0d94d1;
  --ok-button-hover-background-color: #0d94d1;
  --ok-button-active-border: 2px solid #0c8dc7;
  --ok-button-active-background-color: #0c8dc7;
  --focus-visible-outline: 2px solid #0EA5E9;
  --focus-visible-outline-offset: 4px;
  --button-focus-glow: 0px 0px 1px 3px #7DD3FC;
  --input-padding: 10px;
  --input-font-size: 16px;
  --input-border: 2px solid #E5E7EB;
  --input-focus-border: 2px solid #0EA5E9;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -75%);
  z-index: calc( (var(--backdrop-z-index)) / 2 );
  border-top: var(--dialog-border-top);
  border-radius: var(--dialog-border-radius);
  background-color: var(--dialog-background-color);
  font-family: var(--dialog-font-family);
  font-size: var(--dialog-font-size);
  line-height: 1;
  overflow: hidden;
  box-sizing: border-box;
  outline: none;
  display: none;
  width: 90%;
}
[data-dialog] * {
  box-sizing: border-box;
}
@media (min-width: 500px) {
  [data-dialog] {
    width: 450px;
  }
}
[data-dialog] > form {
  margin: 0;
  padding: 0;
}
[data-dialog] header {
  padding: var(--dialog-padding);
  border-bottom: var(--header-border-bottom);
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[data-dialog] header > span {
  color: var(--header-color);
}
[data-dialog] section.message {
  padding: var(--dialog-padding);
}
[data-dialog] section.prompt {
  padding: var(--dialog-padding);
  padding-top: 0;
}
[data-dialog] section.prompt input {
  width: 100%;
  margin: 0;
  padding: var(--input-padding);
  border: var(--input-border);
  border-radius: 3px;
  font-size: var(--input-font-size);
}
[data-dialog] section.prompt input:focus {
  border: var(--input-focus-border);
  outline: none;
}
@media (max-width: 499px) {
  [data-dialog] footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    grid-gap: var(--footer-gap);
  }
  [data-dialog] footer button {
    width: 100%;
  }
  [data-dialog] footer button[data-role=cancel] {
    order: 2;
  }
  [data-dialog] footer button[data-role=ok] {
    order: 1;
  }
}
@media (min-width: 500px) {
  [data-dialog] footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  [data-dialog] footer button {
    margin: 0;
    margin-left: var(--footer-gap);
  }
}
[data-dialog] footer {
  padding: var(--dialog-padding);
  border-top: var(--footer-border-top);
}
[data-dialog] footer button {
  font-size: 16px;
  padding: 10px 26px;
  border-radius: 5px;
  min-width: 111px;
  font-family: var(--dialog-font-family);
  font-size: var(--dialog-font-size);
  cursor: pointer;
  line-height: 1;
  user-select: none;
}
[data-dialog] footer button:focus {
  outline: none;
}
[data-dialog] footer button:focus:not(:active) {
  box-shadow: var(--button-focus-glow);
}
[data-dialog] footer button:not(.focus-visible):focus-visible {
  outline: var(--focus-visible-outline);
  outline-offset: var(--focus-visible-outline-offset);
  box-shadow: none;
}
[data-dialog] footer button:not(.focus-visible):focus:not(:focus-visible):not(:active) {
  box-shadow: var(--button-focus-glow);
}
[data-dialog] footer button.focus-visible:focus {
  outline: var(--focus-visible-outline);
  outline-offset: var(--focus-visible-outline-offset);
  box-shadow: none;
}
[data-dialog] footer button.focus-visible:focus:not(:focus-visible):not(:active) {
  box-shadow: var(--button-focus-glow);
}
[data-dialog] footer button[data-role=cancel] {
  border: var(--cancel-button-border);
  color: var(--cancel-button-color);
  background-color: var(--cancel-button-background-color);
}
[data-dialog] footer button[data-role=cancel]:hover {
  background-color: var(--cancel-button-hover-background-color);
}
[data-dialog] footer button[data-role=cancel]:active {
  background-color: var(--cancel-button-active-background-color);
}
[data-dialog] footer button[data-role=ok] {
  border: var(--ok-button-border);
  color: var(--ok-button-color);
  background-color: var(--ok-button-background-color);
}
[data-dialog] footer button[data-role=ok]:hover {
  border: var(--ok-button-hover-border);
  background-color: var(--ok-button-hover-background-color);
}
[data-dialog] footer button[data-role=ok]:active {
  border: var(--ok-button-active-border);
  background-color: var(--ok-button-active-background-color);
}

/*# sourceMappingURL=sky.css.map */
