@use "sass:color";
@use "sass:map";
@use "sass:math";

/**
 * The button-focus mixin have support for the WICG focus-visible polyfill.
 * https://github.com/WICG/focus-visible
 *
 * We need to duplicate style selectors to get proper support
 * for both .focus-visible and :focus-visible.
 *
 * If the ".focus-visible" polyfill is used we only use that and match on :focus.
 * If the ".focus-visible" polyfill is not used we attempt to match on :focus-visible.
 * And lastly we define a normal :focus for the browsers where :focus-visible is not supported.
 */
@mixin button-focus-visible-styles($selector) {
    #{$selector} {
        // show the outline on focus-visible.
        outline: var(--focus-visible-outline);
        outline-offset: var(--focus-visible-outline-offset);

        // hide the fallback glow.
        box-shadow: none;
    }

    &:focus:not(:focus-visible):not(:active) {
        // show the glow on "normal" focus.
        box-shadow: var(--focus-box-shadow);
    }
}

@mixin button-focus-styles() {
    // Fallback for when neither focus-visible solution is available.
    &:focus {
        outline: none;

        &:not(:active) {
            // use the focus-glow instead (but not if :active).
            box-shadow: var(--focus-box-shadow);
        }
    }

    // When the polyfill is not available.
    &:not(.focus-visible) {
        @include button-focus-visible-styles('&:focus-visible');
    }

    // When the polyfill is available.
    &.focus-visible {
        @include button-focus-visible-styles('&:focus');
    }
}

@function percent_to_dec($percentage) {
    @return 1 + math.div($percentage, 100%);
}

[data-dialog-backdrop] {
    --backdrop-background-color: rgba(0, 0, 0, 0.5);
    --backdrop-z-index: 50;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--backdrop-z-index);
    background-color: var(--backdrop-background-color);

    &[hidden] {
        display: none;
    }
}

[data-dialog] {
    $dialog-width: 450px;
    $mobile-breakpoint: math.div($dialog-width, 90) * 100;

    $theme-color: #0EA5E9;

    // "ok" button takes lightness modifiers in relative percentage.
    $ok-button-lightness: (
        'hover': -5%,
        'active': -9%,
    );

    // "cancel" button takes lightness modifiers in absolute percentage.
    $cancel-button-lightness: (
        'stateless': 100%,
        'hover': 98.5%,
        'active': 97.5%,
    );

    $input-border-color: #E5E7EB;

    // public nicer aliases for -h, -s and -l
    --theme-color-hue: #{color.hue($theme-color)};
    --theme-color-saturation: #{color.saturation($theme-color)};
    --theme-color-lightness: #{color.lightness($theme-color)};

    --theme-color-h: var(--theme-color-hue);
    --theme-color-s: var(--theme-color-saturation);
    --theme-color-l: var(--theme-color-lightness);

    // combined hsl color, not recommended to override
    --theme-color: hsl(var(--theme-color-h), var(--theme-color-s), var(--theme-color-l));

    --dialog-border-top-width: 5px;
    --dialog-border-top-style: solid;
    --dialog-border-top-color: var(--theme-color);
    --dialog-border-top: var(--dialog-border-top-width) var(--dialog-border-top-style) var(--dialog-border-top-color);

    --dialog-padding: 16px;
    --dialog-font-family: Arial;
    --dialog-font-size: 16px;

    --title-color: #222;
    --title-font-family: var(--dialog-font-family);
    --title-font-size: 24px;

    --button-spacing: 14px;

    --input-padding: 10px;
    --input-font-size: 16px;
    --input-border: 2px solid #{$input-border-color};
    --input-focus-border: 2px solid var(--theme-color);

    --focus-visible-outline: 2px solid var(--theme-color);
    --focus-visible-outline-offset: 4px;

    --focus-box-shadow: 0px 0px 1px 3px hsl(
        var(--theme-color-h),
        calc(var(--theme-color-s) * 1.06),
        calc(var(--theme-color-l) * 1.42)
    );

    --ok-button-color: #fff;
    --ok-button-border-width: 2px;
    --ok-button-border-style: solid;
    --ok-button-background-color: var(--theme-color);
    --ok-button-hover-background-color: hsl(
        var(--theme-color-h),
        var(--theme-color-s),
        calc(var(--theme-color-l) * #{percent_to_dec(map.get($ok-button-lightness, 'hover'))})
    );
    --ok-button-active-background-color: hsl(
        var(--theme-color-h),
        var(--theme-color-s),
        calc(var(--theme-color-l) * #{percent_to_dec(map.get($ok-button-lightness, 'active'))})
    );
    --ok-button-border: var(--ok-button-border-width) var(--ok-button-border-style) var(--ok-button-background-color);
    --ok-button-hover-border: var(--ok-button-border-width) var(--ok-button-border-style) var(--ok-button-hover-background-color);
    --ok-button-active-border: var(--ok-button-border-width) var(--ok-button-border-style) var(--ok-button-active-background-color);

    --cancel-button-color: var(--theme-color);
    --cancel-button-border: 2px solid var(--theme-color);
    --cancel-button-background-color: hsl(
        var(--theme-color-h),
        100%,
        #{map.get($cancel-button-lightness, 'stateless')}
    );
    --cancel-button-hover-background-color: hsl(
        var(--theme-color-h),
        100%,
        #{map.get($cancel-button-lightness, 'hover')}
    );
    --cancel-button-active-background-color: hsl(
        var(--theme-color-h),
        100%,
        #{map.get($cancel-button-lightness, 'active')}
    );

    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -75%);
    z-index: calc( (var(--backdrop-z-index)) / 2 );
    border-top: var(--dialog-border-top);
    border-radius: 4px;
    background-color: #fff;
    font-family: var(--dialog-font-family);
    font-size: var(--dialog-font-size);
    line-height: 1;
    overflow: hidden;
    box-sizing: border-box;
    outline: none; // to override the :-webkit-direct-focus in Safari
    display: none;

    // mobile first, non mobile width defined in breakpoint below
    width: 90%;

    * {
        // make sure all descendants also uses border-box
        box-sizing: border-box;
    }

    @media (min-width: $mobile-breakpoint) {
        width: $dialog-width;
    }

    > form {
        margin: 0;
        padding: 0;
    }

    header {
        padding: var(--dialog-padding);
        border-bottom: 1px solid #eae9e9;
        font-family: var(--title-font-family);
        font-size: var(--title-font-size);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        min-height: auto;
        color: var(--title-color);
        background-color: #fff;
    }

    section {
        height: auto;
        min-height: auto;
    }

    section.message {
        padding: var(--dialog-padding);
        line-height: 1.5;
    }

    section.prompt {
        padding: var(--dialog-padding);
        padding-top: 0;

        input {
            width: 100%;
            margin: 0;
            padding: var(--input-padding);
            border: var(--input-border);
            border-radius: 3px;
            font-size: var(--input-font-size);

            &:focus {
                border: var(--input-focus-border);
                outline: none;
            }
        }
    }

    @media (max-width: $mobile-breakpoint - 1) {
        // mobile vertical layout
        footer {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: min-content;
            grid-auto-rows: min-content;
            grid-gap: var(--button-spacing);

            button {
                width: 100%;
            }
        }
    }

    @media (min-width: $mobile-breakpoint) {
        // non-mobile horizontal layout
        footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            button {
                margin: 0;
                margin-left: var(--button-spacing);
            }
        }
    }

    footer {
        padding: var(--dialog-padding);
        border-top: 1px solid #eae9e9;
        height: auto;
        min-height: auto;
        background-color: #fff;

        button {
            font-size: 16px;
            padding: 10px 26px;
            border-radius: 5px;
            min-width: 111px;
            font-family: var(--dialog-font-family);
            font-size: var(--dialog-font-size);
            cursor: pointer;
            line-height: 1;
            user-select: none;

            @include button-focus-styles();

            &[data-role="cancel"] {
                border: var(--cancel-button-border);
                color: var(--cancel-button-color);
                background-color: var(--cancel-button-background-color);

                &:hover {
                    background-color: var(--cancel-button-hover-background-color);
                }

                &:active {
                    background-color: var(--cancel-button-active-background-color);
                }
            }

            &[data-role="ok"] {
                border: var(--ok-button-border);
                color: var(--ok-button-color);
                background-color: var(--ok-button-background-color);

                &:hover {
                    border: var(--ok-button-hover-border);
                    background-color: var(--ok-button-hover-background-color);
                }

                &:active {
                    border: var(--ok-button-active-border);
                    background-color: var(--ok-button-active-background-color);
                }
            }
        }
    }
}
